@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #2c2c2c; 
    color: #ffffff; 
    font-family: 'Poppins', sans-serif;
}

.welcome-title {
    font-size: 2.5rem;
    font-weight: 600;
}

.welcome-text {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}


.custom-btn {
    background-color: #d48cff;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    margin: 5px;
}

    .custom-btn:hover {
        background-color: #bf73e6;
    }

    .custom-btn i {
        margin-right: 8px;
    }
