/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


html {
    font-size: 14px;
}

/* responsiv fontstorlek ändras efter skärmstorlek*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
    

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


/* html elementen sätts till 100% av skärmhöjden så sidan fyller hela fönstret*/
html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    background-color: #2c2c2c !important;
    color: #ffffff;
    font-family: 'Poppins', sans-serif !important;
}

.welcome-title {
    font-size: 2.5rem;
    font-weight: 600;
}

.welcome-text {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

/*knappdesign*/
.custom-btn {
    background-color: #d48cff !important;
    color: white !important;
    font-size: 1.2rem !important;
    padding: 10px 20px !important;
    border-radius: 8px !important;
    text-decoration: none !important;
    transition: 0.3s !important;
    margin: 5px !important;
}

/* knappen får en mörkare färg när man står över den med musen*/
    .custom-btn:hover {
        background-color: #bf73e6 !important;
    }


    /* om det blir aktuellt med ikon på en knapp så får den distans till texten*/
    /*.custom-btn i {
        margin-right: 8px;
    }*/
