@page
@model ListLife.Pages.CreateNewShoppingList
@{
}

<h2>Create New Shoppinglist</h2>

<form method="post">
    <div>
        <label asp-for="ShoppingList.Title">Shoppinglist Name:</label>
        <input asp-for="ShoppingList.Title" class="form-control" placeholder="Enter Listname" />
    </div>

    <div>
        <label>Category:</label>
        <select name="ShoppingList.Category" class="form-control">
                <option value="">--Select Category--</option>
                <option value="FruitsVegetables">Fruits & Vegetables</option>
                <option value="Fridge ">Fridge items</option>
                <option value="Freezer">Freezer items</option>
                <option value="Pantry">Pantry items</option>
                <option value="Hygiene">Hygiene items</option>
                <option value="Other">Other</option>
        </select>
    </div>

    <div>
        <label asp-for="ShoppingList.Product">Product Name:</label>
        <input asp-for="ShoppingList.Product" class="form-control" placeholder="Enter product name" />
    </div>

    <div>
        <label asp-for="ShoppingList.Amount">Amount:</label>
        <input asp-for="ShoppingList.Amount" class="form-control" placeholder="Enter amount" />

    </div>

    <button type="submit" class="btn btn-primary">Create Shopping List</button>

</form>
<button type="button" class="btn btn-danger" onclick="window.location.href='/MyPage'">Cancel</button>


