@page
@model ListLife.Pages.CreateNewShoppingList
@{
}

<h2>Create New Shoppinglist</h2>

<form asp-page="/MyPage" method="post">
    <div class="newList">
        <label for="ShoppingListName">Shopping List Name:</label>
        <input type="text" id="ShoppingListName" class="form-control" placeholder="Enter list name" />
    </div>

    <button type="submit" class="btn btn-primary">Create Shopping List</button>

</form>
<button type="button" class="btn btn-danger" onclick="window.location.href='/MyPage'">Cancel</button>


